
{{> head }} 


{{> navbar }} 

<div class="row">
    <div class="col-8">
        <h1>Retrato de adorables cachorros</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam provident, iste officia laboriosam eum delectus neque quam nam aut id fugit, omnis sed soluta alias est animi possimus repellat facilis?</p>
    </div>
    <div class="col-4">
        <img src="../../assets/img/dogs.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer }} 